<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="v4posme_library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ConnectionString" connectionString="XpoProvider=MySql;server=posme.net;user id=u8u2cdhdwfmmy; password=2@24)7h$15#e; database=dbkroqnguhldo1;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <applicationSettings>
        <v4posme_library.Properties.Settings>
            <setting name="Test" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="APP_NEED_AUTHENTICATION" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EMAIL_APP" serializeAs="String">
                <value>posme2022@gmail.com</value>
            </setting>
            <setting name="EMAIL_APP_PASSWORD" serializeAs="String">
                <value>tbxbdwxjcddqptxk</value>
            </setting>
            <setting name="EMAIL_APP_NOTIFICACION" serializeAs="String">
                <value>posme2022@gmail.com</value>
            </setting>
            <setting name="EMAIL_APP_COPY" serializeAs="String">
                <value>www.witman@gmail.com</value>
            </setting>
            <setting name="PATH_FILE_OF_APP" serializeAs="String">
                <value>C:/xampp/teamds2/nsSystem/v4posme/public/resource/file_company</value>
            </setting>
            <setting name="PATH_FILE_OF_APP_ROOT" serializeAs="String">
                <value>C:/xampp/teamds2/nsSystem/v4posme/public/resource</value>
            </setting>
            <setting name="PATH_FILE_OF_APP_SYSTEM" serializeAs="String">
                <value>C:/xampp/teamds2/nsSystem/v4posme/</value>
            </setting>
            <setting name="PATH_FILE_OF_UPLOAD_WRITE" serializeAs="String">
                <value>C:/xampp/teamds2/nsSystem/v4posme/writable/uploads</value>
            </setting>
            <setting name="PATH_FILE_OF_XAMPP_TMP" serializeAs="String">
                <value>C:/xampp/tmp</value>
            </setting>
            <setting name="PATH_EMAIL" serializeAs="String">
                <value>C:\xampp\sendmail\sendmail.exe -t</value>
            </setting>
            <setting name="APP_NAME" serializeAs="String">
                <value>WSYSTEM</value>
            </setting>
            <setting name="APP_TIMEZONE" serializeAs="String">
                <value>America/Managua</value>
            </setting>
            <setting name="APP_COMPANY" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="APP_USERADMIN" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="APP_ROL_SUPERADMIN" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="URL_SUFFIX_OLD" serializeAs="String">
                <value>aspx</value>
            </setting>
            <setting name="URL_SUFFIX_NEW" serializeAs="String">
                <value />
            </setting>
            <setting name="URL_SUFFIX" serializeAs="String">
                <value />
            </setting>
            <setting name="TIME_CACHE_APP" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="APP_IP_SERVER" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="APP_BRANCH" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="APP_PROVIDER" serializeAs="String">
                <value>293</value>
            </setting>
            <setting name="APP_EMPLOYEE" serializeAs="String">
                <value>614</value>
            </setting>
            <setting name="APP_CUSTOMER01" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="APP_CUSTOMER02" serializeAs="String">
                <value>309</value>
            </setting>
            <setting name="APP_HOUR_DIFERENCE_MYSQL" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="APP_HOUR_DIFERENCE_PHP" serializeAs="String">
                <value>+0 minutes</value>
            </setting>
            <setting name="APP_URL_RESOURCE_CSS_J" serializeAs="String">
                <value>http://localhost/posmev4</value>
            </setting>
            <setting name="URL_REDIRECT_CALENDAR_POSME" serializeAs="String">
                <value>http://localhost/posmev4/core_user/savepublicgooglereturn</value>
            </setting>
            <setting name="APP_URL_WOOCOMERC" serializeAs="String">
                <value>https://posme.net</value>
            </setting>
            <setting name="MENU_TOP" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MENU_LEFT" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MENU_BODY" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MENU_TOP_BODY" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MENU_HIDDEN_POPUP" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ELEMENT_TYPE_PAGE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ELEMENT_TYPE_TABLE" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CALLERID_LIST" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CALLERID_SEARC" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PERMISSION_NONE" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PERMISSION_ALL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PERMISSION_BRANCH" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PERMISSION_ME" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="COMMAND_VINCULATE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="COMMAND_EDITABLE" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="COMMAND_EDITABLE_TOTAL" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="COMMAND_ELIMINABLE" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="COMMAND_APLICABLE" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PAGE_SIZE" serializeAs="String">
                <value>LETTER</value>
            </setting>
            <setting name="LEFT_MARGIN" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="RIGHT_MARGIN" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="BOTTOM_MARGIN" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="TOP_MARGIN" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="FONT_SIZE_SMALL" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="FONT_SIZE" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="FONT_SIZE_BOLD" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="FONT_SIZE_TITLE" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LOGO_SIZE_WIDTH" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="LOGO_SIZE_HEIGTH" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PAGE_INVOICE" serializeAs="String">
                <value>INVOICE_PRINTER_TERMICA_001</value>
            </setting>
            <setting name="LEFT_MARGIN_INVOICE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RIGHT_MARGIN_INVOICE" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="BOTTOM_MARGIN_INVOICE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TOP_MARGIN_INVOICE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FONT_SIZE_TITLE_INVICE" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="FONT_SIZE_BODY_INVICE" serializeAs="String">
                <value>10</value>
            </setting>
        </v4posme_library.Properties.Settings>
    </applicationSettings>
</configuration>