<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="v4posme_window_form.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="server=posme.net;port=3306;database=dbkroqnguhldo1;uid=u8u2cdhdwfmmy;password=2@24)7h$15#e" providerName="MySql.Data.MySqlClient" />
    <add name="posme.netdbkroqnguhldo1" connectionString="XpoProvider=MySql;server=posme.net;user id=u8u2cdhdwfmmy; password=2@24)7h$15#e; database=dbkroqnguhldo1;persist security info=true;CharSet=utf8;" />
    <add name="v4posme_window_form.Properties.Settings.MySqlConnection" connectionString="server=posme.net;port=3306;database=dbkroqnguhldo1;uid=u8u2cdhdwfmmy;password=2@24)7h$15#e" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.22.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <v4posme_window_form.Properties.Settings>
      <setting name="APP_NEED_AUTHENTICATION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EMAIL_APP" serializeAs="String">
        <value>posme2022@gmail.com</value>
      </setting>
      <setting name="EMAIL_APP_PASSWORD" serializeAs="String">
        <value>tbxbdwxjcddqptxk</value>
      </setting>
      <setting name="EMAIL_APP_NOTIFICACION" serializeAs="String">
        <value>posme2022@gmail.com</value>
      </setting>
      <setting name="EMAIL_APP_COPY" serializeAs="String">
        <value>www.witman@gmail.com</value>
      </setting>
      <setting name="PATH_FILE_OF_APP" serializeAs="String">
        <value>C:/xampp/teamds2/nsSystem/v4posme/public/resource/file_company</value>
      </setting>
      <setting name="PATH_FILE_OF_APP_ROOT" serializeAs="String">
        <value>C:/xampp/teamds2/nsSystem/v4posme/public/resource</value>
      </setting>
      <setting name="PATH_FILE_OF_APP_SYSTEM" serializeAs="String">
        <value>C:/xampp/teamds2/nsSystem/v4posme/</value>
      </setting>
      <setting name="PATH_FILE_OF_UPLOAD_WRITE" serializeAs="String">
        <value>C:/xampp/teamds2/nsSystem/v4posme/writable/uploads</value>
      </setting>
      <setting name="PATH_FILE_OF_XAMPP_TMP" serializeAs="String">
        <value>C:/xampp/tmp</value>
      </setting>
      <setting name="PATH_EMAIL" serializeAs="String">
        <value>C:\xampp\sendmail\sendmail.exe -t</value>
      </setting>
      <setting name="APP_NAME" serializeAs="String">
        <value>WSYSTEM</value>
      </setting>
      <setting name="APP_TIMEZONE" serializeAs="String">
        <value>America/Managua</value>
      </setting>
      <setting name="APP_COMPANY" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="APP_USERADMIN" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="APP_ROL_SUPERADMIN" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="URL_SUFFIX_OLD" serializeAs="String">
        <value>aspx</value>
      </setting>
      <setting name="URL_SUFFIX_NEW" serializeAs="String">
        <value />
      </setting>
      <setting name="URL_SUFFIX" serializeAs="String">
        <value />
      </setting>
      <setting name="TIME_CACHE_APP" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="APP_IP_SERVER" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="APP_BRANCH" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="APP_PROVIDER" serializeAs="String">
        <value>293</value>
      </setting>
      <setting name="APP_EMPLOYEE" serializeAs="String">
        <value>614</value>
      </setting>
      <setting name="APP_CUSTOMER01" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="APP_CUSTOMER02" serializeAs="String">
        <value>309</value>
      </setting>
      <setting name="APP_HOUR_DIFERENCE_MYSQL" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="APP_HOUR_DIFERENCE_PHP" serializeAs="String">
        <value>+0 minutes</value>
      </setting>
      <setting name="APP_URL_RESOURCE_CSS_J" serializeAs="String">
        <value>http://localhost/posmev4</value>
      </setting>
      <setting name="URL_REDIRECT_CALENDAR_POSME" serializeAs="String">
        <value>http://localhost/posmev4/core_user/savepublicgooglereturn</value>
      </setting>
      <setting name="APP_URL_WOOCOMERC" serializeAs="String">
        <value>https://posme.net</value>
      </setting>
      <setting name="MENU_TOP" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MENU_LEFT" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MENU_BODY" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="MENU_TOP_BODY" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="MENU_HIDDEN_POPUP" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="ELEMENT_TYPE_PAGE" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ELEMENT_TYPE_TABLE" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CALLERID_LIST" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CALLERID_SEARC" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PERMISSION_NONE" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="PERMISSION_ALL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PERMISSION_BRANCH" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PERMISSION_ME" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="COMMAND_VINCULATE" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="COMMAND_EDITABLE" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="COMMAND_EDITABLE_TOTAL" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="COMMAND_ELIMINABLE" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="COMMAND_APLICABLE" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PAGE_SIZE" serializeAs="String">
        <value>LETTER</value>
      </setting>
      <setting name="LEFT_MARGIN" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="RIGHT_MARGIN" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="BOTTOM_MARGIN" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="TOP_MARGIN" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="FONT_SIZE_SMALL" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="FONT_SIZE" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="FONT_SIZE_BOLD" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="FONT_SIZE_TITLE" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LOGO_SIZE_WIDTH" serializeAs="String">
        <value>105</value>
      </setting>
      <setting name="LOGO_SIZE_HEIGTH" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="PAGE_INVOICE" serializeAs="String">
        <value>INVOICE_PRINTER_TERMICA_001</value>
      </setting>
      <setting name="LEFT_MARGIN_INVOICE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RIGHT_MARGIN_INVOICE" serializeAs="String">
        <value>0.9</value>
      </setting>
      <setting name="BOTTOM_MARGIN_INVOICE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TOP_MARGIN_INVOICE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FONT_SIZE_TITLE_INVICE" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="FONT_SIZE_BODY_INVICE" serializeAs="String">
        <value>10</value>
      </setting>
    </v4posme_window_form.Properties.Settings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/WXI</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Clearness</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.25.2.0" newVersion="3.25.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.5.0" newVersion="0.7.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.6.0" newVersion="1.3.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.3.0.0" newVersion="8.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.3.0.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
</configuration>